
body {
  margin: 20px;
}

.ui {
  margin: 10px 0;
}
.colorCode {
  width: 320px;
  text-align: end;
}
.colorCode::before {
  content: "#";
}

#converter {
  border: 1px dashed #666;
  width: 320px;
  height: 320px;
}

#megane {
  background-color: #ccc;
  height: 320px;
  width: 320px;
  position: relative;
}
.flame, .glass {
  width: 10px;
  height: 10px;
  position: absolute;
}
.glass {
  background: #d7edeb;
}
.flame {
  background: #333333;
}

#output {
  max-width: 100%;
}

.top-130 {top: 130px;}
.top-140 {top: 140px;}
.top-150 {top: 150px;}
.top-160 {top: 160px;}
.top-170 {top: 170px;}
.top-180 {top: 180px;}
.top-190 {top: 190px;}
.top-200 {top: 200px;}